.center_block {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    display: flex;
}
.block_href {
    border: 1px solid black;
    width: 33%;
    margin: 5px;
    text-align: center;
}
table.table1{
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
    height: auto;
}
table.table1,table.table1 td, table.table1 th {
    border: 1px solid #595959;
}
table.table1 td,table.table1 th {
    padding: 3px;
    width: 30px;
    height: 35px;
    text-align: center;
}
table.table1 th {
    background: #347c99;
    color: #fff;
    font-weight: normal;
}

table1_text_head {
    text-align: center;
}